* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("Images/tile8.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.carousel {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-option {
    position: absolute;
    transition: transform 0.3s, opacity 0.3s; /* Smooth transitions */
}

.caption {
    text-align: center;
}